@import "assets/images/icons/icon.css";

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
ol,
ul,
li,
form,
label,
i,
footer,
header,
menu,
nav,
a,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
video,
canvas,
section,
applet,
object,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
hgroup,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
dl,
dt,
dd,
fieldset,
legend,
article,
aside,
details,
embed,
figure,
figcaption,
output,
section,
summary,
time,
mark,
audio,
center,
ruby {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
label {
  display: block;
}
html {
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  outline: none;
  box-sizing: border-box;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a {
  display: inline-block;
  text-decoration: none;
  font: inherit;
}
button {
  cursor: pointer;
  position: relative;
}
input,
button,
select,
textarea {
  display: inline-block;
  padding: 0;
  border: 0;
  font: inherit;
}
img {
  max-width: 100%;
  max-height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  font-family: "Inter";
  background: var(--bg-color);
}

.G-flex {
  display: flex;
}
.G-inline-flex {
  display: inline-flex;
}
.G-center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.G-column-center {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.G-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.G-justify-center {
  justify-content: center;
  display: flex;
}
.G-justify-between {
  justify-content: space-between;
  display: flex;
}
.G-justify-around {
  justify-content: space-around;
  display: flex;
}
.G-justify-end {
  justify-content: flex-end;
  display: flex;
}
.G-justify-start {
  justify-content: flex-start;
  display: flex;
}
.G-align-center {
  align-items: center;
  display: flex;
}
.G-align-start {
  align-items: flex-start;
  display: flex;
}
.G-align-end {
  align-items: flex-end;
  display: flex;
}
.G-flex-column {
  flex-direction: column;
  display: flex;
}
.G-flex-wrap {
  flex-wrap: wrap;
  display: flex;
}

:root {
  --main-container: #fcfcfc;
  --main-container2: #ffffff;
  --backFon1: #7ca0e7;
  --backFon2: #b2c5ee;
  --bg-color: #f6f6f6;
  --bg-color2: #e8e8e8;
  --text-color: #28282b;
  --bg-color3: #f8f8f8;
  --text-color2: #fbfbfb;

  --text-color3: #76767c;
  --text-color4: #9c9ca6;
  --text-color5: #28282b;
  --border: #e8e8e8;
  --border2: #fbfbfb;
  --border3: #7e7e7e;
  --accent-color: #386fde;
  --accent-color2: #1252d3;
  --hero-bg: #386fde;
  --opacity: 0.8;
}

[data-theme="dark"] {
  --bg-color: #151519;
  --bg-color2: #282830;
  --bg-color3: #282830;
  --backFon1: #615728;
  --backFon2: #423d28;
  --text-color: #f8f8f8;
  --text-color2: #1a1a20;
  --border: #23232b;
  --border2: #f8f8f8;
  --border3: #6b6b6b;
  --text-color5: #ffffff;
  --hero-bg: #23232b;
  --text-color3: #b0b0b5;
  --text-color4: #3c3c46;
  --opacity: 0.4;
  --accent-color: #c8ae30;
  --accent-color2: #fafdff;
  --main-container: #18181c;
  --main-container2: #212126;
  
  --backFon3: #fbfbfb;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
main {
  flex: 1 1 auto;
}
.container {
  max-width: 1228px;
  width: 100%;
  margin: 0 auto;
  padding: 0 14px;
}
.text-wrap {
  display: block;
}
.desktop-text-wrap {
  display: block;
}
.img-mobile {
  display: none;
}
.section-clue {
  padding: 6px 16px;
  border: 1px solid var(--border);
  border-radius: 200px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color);
  max-width: max-content;
  margin: 0 auto;
}
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  position: initial !important;
  gap: 8px;
  margin-top: 20px !important;
}
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: var(--bg-color2) !important;
  opacity: 1 !important;
  margin: 0 !important;
  border-radius: 100px !important;
}
.swiper-pagination-bullet-active {
  background: var(--accent-color) !important;
  width: 17px !important;
}
.mobile-block {
  display: none !important;
}
.text-black {
  color: var(--text-color);
  font-weight: 400;
}
.text-left {
  margin-left: 30px;
}
.text-blue {
  color: var(--accent-color) !important;
}
.btn-primary {
  gap: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color2);
  background: var(--accent-color);
  padding: 16px 37px;
  border-radius: 8px;
  transition: 0.4s;
  justify-content: center;
}
.btn-primary i {
  background: var(--text-color2);
  font-size: 15px;
}
.btn-primary:hover {
  background: var(--text-color);
}
.btn-black {
  gap: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color2);
  background: var(--text-color);
  padding: 16px 37px;
  justify-content: center;
  border-radius: 8px;
  transition: 0.4s;
}
.section-shape {
  position: relative;
  max-width: max-content;
  padding: 7px 10px;
  margin: 0 auto;
}
.section-shape h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: var(--text-color);
}
.section-shape img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.btn-black:hover {
  background: var(--accent-color);
}
.btn-black i {
  background: var(--text-color2);
  font-size: 15px;
}
.section {
  margin-top: 120px;
}
.section-titles p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 12px;
  color: var(--text-color3);
}
.block-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: var(--text-color);
}
.block-text {
  margin-top: 10px;
  color: var(--text-color3);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.block-title-header {
  position: relative;
}
.block-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.block-title-wrapper img {
  max-width: 26px;
}
.block-texts {
  position: relative;
  z-index: 2;
}
.block-cnt {
  margin-top: 40px;
}
.italic-text {
  font-style: italic;
}

.fade-left,
.fade-right,
.fade-top,
.fade-bottom {
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform, opacity;
}
.fade-left {
  transform: translateX(-60px);
}
.fade-right {
  transform: translateX(60px);
}
.fade-top {
  transform: translateY(-60px);
}
.fade-bottom {
  transform: translateY(60px);
}
.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  padding: 20px 0;
  transition: 0.4s;
}
header.moved {
  padding: 10px 0;
}
.header-body {
  padding: 12px;
  gap: 20px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
  background: var(--main-container);
  border-radius: 12px;
  justify-content: space-between;
  border: 1px solid var(--border);
}
.header-actions {
  gap: 12px;
}
.header-logo {
  margin-left: 12px;
}
.header-menu ul {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header-menu ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--text-color);
  text-underline-offset: 3px;
  transition: 0.3s;
}
.header-menu ul li a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}
.btn-register {
  background: var(--text-color);
  padding: 13px 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color2);
  border-radius: 6px;
  transition: 0.3s;
  gap: 12px;
}
.btn-register:hover {
  background: var(--accent-color);
}
.btn-register i {
  font-size: 12px;
  background: var(--text-color2);
}
.hero-section {
  position: relative;
  z-index: 2;
  min-height: 752px;
  background: var(--hero-bg);
  box-shadow: 92px 46px 103px 0px #00000017;
  border-radius: 0 0 20px 20px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.hero-body {
  padding: 140px 0 0;
  align-items: center;
}
.hero-clue {
  padding: 6px 16px;
  border: 1px solid var(--border2);
  border-radius: 200px;
  gap: 10px;
  max-width: max-content;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--border2);
  opacity: var(--opacity);
}
.hero-clue i {
  font-size: 12px;
  background: var(--border2);
}
.hero-text {
  position: absolute;
}
.hero-text--one {
  max-width: 316px;
  width: 100%;
  left: 109px;
  top: 113px;
}
.hero-text--two {
  max-width: 307px;
  width: 100%;
  top: 314px;
  right: 100px;
}
.hero-titles h1 {
  text-align: center;
  color: #fbfbfb;
  font-weight: 600;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
  margin-top: 10px;
}
.hero-titles p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 16px;
  color: #fbfbfb;
}
.hero-btn {
  margin: 32px auto 0;
}
.hero-text-cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-text-cart p {
  font-weight: 400;
  font-size: 15.75px;
  line-height: 21px;
  color: var(--main-container2);
  opacity: 0.2;
}
.text-cart--one p:last-child {
  opacity: 0.1;
}
.text-cart--two p:first-child {
  opacity: 0.1;
}
.text-cart--two p:last-child {
  text-align: end;
}
[data-theme="light"] .hero-btn:hover {
  background: #000;
  color: #fff;
}
.hero-dark-blur {
  display: none;
  position: absolute;
  left: 90px;
  top: 350px;
  z-index: -1;
}
[data-theme="dark"] .hero-dark-blur {
  display: flex;
}


.text-cart--one {
  max-width: 316px;
  left: 109px;
  top: 113px;
}
.text-cart--two {
  max-width: 307px;
  right: 100px;
  top: 314px;
}
.hero-media {
  max-width: 1158px;
  position: absolute;
  top: 516px;
  background: var(--main-container2);
  min-height: 602px;
  width: 100%;
  border-radius: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 26px 24px 25px 26px;
  gap: 42px;
  align-items: center;
}
.hero-back-fon1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: var(--backFon1);
  border-radius: 30px;
  max-width: 952px;
  width: 100%;
  min-height: 313px;
  top: 495px;
  z-index: -2;
}
.hero-back-fon2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: var(--backFon2);
  border-radius: 30px;
  max-width: 1056px;
  width: 100%;
  min-height: 347px;
  top: 505px;
  z-index: -2;
}
.hero-media-cnt {
  max-width: 755px;
  width: 100%;
  background: var(--text-color2);
  min-height: 550px;
  gap: 84px;
  padding: 11px 9px;
  border-radius: 21px;
}

.hero-left-column {
  height: 100%;
  max-width: 28px;
  width: 100%;
  background: var(--bg-color);
  border-radius: 11px;
  border: 1px solid var(--border);
  min-height: 527px;
  padding: 38px 9.5px 12px 9.5px;
}
.left-column-icons {
  gap: 14px;
}
.left-column-icons i {
  font-size: 12px;
  background: var(--text-color);
}
.hero-left-arrow {
  display: block;
  margin-top: auto;
  font-size: 7px;
  background: var(--text-color);
}

.hero-right-column {
  height: 100%;
  max-width: 540px;
  width: 100%;
}
.hero-letter {
  margin-left: auto;
  max-width: 258px;
  width: 100%;
}
.hero-letter p {
  font-weight: 400;
  font-size: 8.48px;
  line-height: 13px;
  color: var(--text-color);
  background: var(--main-container2);
  padding: 10px;
  border-radius: 11px;
}
.letter-tools {
  margin-top: 6px;
  margin-left: auto;
  max-width: 70px;
  width: 100%;
  gap: 10px;
}
.right-letter-tools {
  max-width: 70px;
  width: 100%;
  gap: 10px;
}
.letter-arrows {
  gap: 5px;
}
.letter-arrows i {
  font-size: 7px;
  background: var(--text-color);
  cursor: pointer;
}

.letter-arrows i:nth-child(1) {
  transform: rotate(180deg);
}
.letter-arrows span {
  font-weight: 400;
  font-size: 8.48px;
  line-height: 11.3px;
  color: var(--text-color);
}
.letter-icons {
  gap: 10px;
}
.right-letter-icons {
  gap: 10px;
}
.letter-icons i {
  font-size: 8px;
  cursor: pointer;
}
.right-letter-icons i {
  font-size: 8px;
  cursor: pointer;
  background: var(--text-color3);
}
.letter-icons i:nth-child(1) {
  font-size: 8px;
  background: var(--accent-color);
}
.letter-icons i:nth-child(2) {
  font-size: 8px;
  background: var(--text-color3);
}
.hero-right-cnt {
  gap: 8px;
  padding: 7px;
}
.hero-right-texts p {
  font-weight: 400;
  font-size: 8.48px;
  line-height: 150%;
  color: var(--text-color);
}
.hero-right-texts {
 border-bottom: 1px solid rgba(204, 204, 204, 0.6);
  padding: 0 0 8px 0;
}

[data-theme="dark"] .hero-right-texts {
 border-bottom: 1px solid rgba(204, 204, 204, 0.1);
}



.hero-right-texts:nth-child(4) {
  border-bottom: unset;
}
.hero-right-texts ul p {
  font-weight: 400;
  font-size: 8.48px;
  line-height: 150%;
  color: var(--text-color);
}
.hero-right-texts ul span {
  font-weight: 400;
  font-size: 8.48px;
  line-height: 150%;
  color: var(--text-color);
  display: block;
}
.margin-text {
  margin-top: 15px;
}
.hero-right-texts b {
  font-weight: 700;
  font-size: 8.48px;
  line-height: 150%;
}
.hero-right-texts ul li {
  font-weight: 400;
  font-size: 8.48px;
  line-height: 150%;
  color: var(--text-color);
  margin-left: 8px;
  position: relative;
}
.hero-right-texts ul li::after {
  content: "";
  width: 2px;
  height: 2px;
  background: var(--text-color);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: -8px;
}
.hero-desktop-input {
  width: 100%;
  margin-top: 48px;
}
.hero-desktop-input label {
  position: relative;
  width: 100%;
  height: 41px;
}
.hero-desktop-input label input {
  border: 1px solid var(--border);
  height: 34px !important;
  border-radius: 87px;
  width: 100%;
  padding: 13px 34px 13px 34px;
  height: 100%;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: var(--text-color3);
  background: var(--main-container2);
}
.hero-desktop-input label .icon-plus {
  position: absolute;
  left: 16px;
  top: 14px;
  font-size: 6px;
  background: var(--text-color);
}
.hero-desktop-input label a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--bg-color);
  width: 11px;
  height: 11px;
  position: absolute;
  top: 13px;
  right: 12px;
}
.hero-desktop-input label a i {
  background: var(--text-color);
  font-size: 5px;
  margin-left: 3px;
}

.hero-media-tags {
  gap: 40px;
}
.hero-tag-header {
  display: flex;
  gap: 12px;
  align-items: center;
}
.hero-tag-header span {
  font-weight: 600;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
  color: var(--text-color);
  display: flex;
}

.hero-media-tag p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  color: var(--text-color3);
  max-width: 283px;
  width: 100%;
}

.hero-mobile-slider {
  position: relative;
}
.hero-swiper {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
}
.hero-slide {
  padding: 20px 30px 0 30px;
}
.hero-slide-header {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.hero-slide-header span {
  font-weight: 600;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
  color: var(--text-color);
  display: flex;
}
.hero-slide p {
  max-width: 272px;
  margin: 12px auto 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--text-color3);
}

.possibilities-section {
  margin-top: 480px;
}
.possibilities-items {
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.possibilities-item {
  position: relative;
  z-index: 2;
  border-radius: 30px;
  overflow: hidden;
}
.possibilities-tags {
  position: absolute;
  top: 37px;
  left: 35px;
  max-width: 211px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  z-index: 2;
}
.possibilities-tags button {
  padding: 6px 15px;
  background: var(--bg-color3);
  border-radius: 1000px;
  transition: 0.4s;
  color: var(--text-color5);
}
.possibilities-tags button:hover {
  background: var(--accent-color);
}

.possibilities-tags button.active {
  background: var(--accent-color);
}
[data-theme="light"] .possibilities-tags button:hover {
  color: #fbfbfb;
}
[data-theme="dark"] .possibilities-tags button:hover {
  color: #090911;
}
[data-theme="light"] .possibilities-tags button.active {
  color: #fbfbfb;
}
[data-theme="dark"] .possibilities-tags button.active {
  color: #090911;
}
.block-title-icon {
  position: relative;
}
.block-title-icon img {
  max-width: 26px;
  position: absolute;
}
.possibilities-big-item {
  min-height: 312px;
  padding: 38px;
  flex: 1 1 100%;
}
.p-item-tag--one {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 305px;
  width: 100%;
  position: absolute;
  left: 38px;
  bottom: 38px;
  color: var(--text-color3);
}
.p-item-tag--one strong {
  font-weight: 500;
  color: var(--text-color5);
}
.p-item-tag--two {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 214px;
  width: 100%;
  position: absolute;
  left: 782px;
  top: 71px;
  color: var(--text-color3);
  background: var(--bg-color3);
  padding: 13px;
  text-align: end;
  border-radius: 6px;
}
.p-item-tag--tree {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 350px;
  width: 100%;
  position: absolute;
  left: 597px;
  top: 155px;
  color: var(--text-color3);
  background: var(--bg-color3);
  padding: 16px;
  border-radius: 6px;
}
.p-item-tag--tree strong {
  font-weight: 500;
  color: var(--text-color5);
}
.possibilities-item-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.possibilities-item-bg img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.possibilities-block-texts {
  max-width: 432px;
}
.possibilities-block-texts .block-text {
  margin-top: 20px;
}
.possibilities-small-item {
  max-width: 378px;
  width: 100%;
  min-height: 360px;
  padding: 32px 37px;
}
.possibilities-small-item .block-texts {
  margin-top: auto;
}
.possibilities-black-item .block-texts {
  margin-top: auto;
}
.possibilities-another-item {
  max-width: 378px;
  width: 100%;
  min-height: 360px;
  padding: 32px 37px;
}
.possibilities-black-item {
  max-width: 378px;
  width: 100%;
  min-height: 360px;
  padding: 32px 37px;
  background: var(--text-color);
}
.possibilities-black-tags {
  gap: 10px;
  position: absolute;
  right: -76px;
}
.possibilities-black-tags p:nth-child(1) {
  font-weight: 400;
  font-size: 18.17px;
  line-height: 24.23px;
  color: var(--text-color);
  padding: 10px 20px;
  background: var(--main-container);
  border-radius: 100px;
  opacity: 0.8;
  max-width: max-content;
}
.possibilities-black-tags p:nth-child(2) {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--text-color);
  padding: 10px 20px;
  background: var(--main-container);
  border-radius: 100px;
  max-width: max-content;
  opacity: 0.6;
  margin-left: 28px;
}

.possibilities-black-tags p:nth-child(3) {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: var(--text-color);
  padding: 10px 20px;
  background: var(--main-container);
  border-radius: 100px;
  max-width: max-content;
  opacity: 0.4;
  margin-left: 67px;
}
.work-slide-description {
  max-width: 238px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border: 1px solid var(--border);
  border-radius: 24px 24px 10px 10px;
  padding: 20px 15px 5px 15px;
  max-height: 330px;
}


.slide-descr-titles h4 {
  font-weight: 400;
  font-size: 19.39px;
  line-height: 22.62px;
  text-align: center;
  color: var(--text-color);
}
.slide-descr-titles p {
  color: var(--text-color4);
  font-weight: 400;
  font-size: 9.69px;
  line-height: 12.93px;
  text-align: center;
  margin-top: 10px;
}
.slide-descr-tags {
  margin-top: 15px;
  gap: 5px;
}
.slide-descr-tag {
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 8px;
}
.slide-descr-tag img {
  max-width: 15px;
  flex: 0 0 15px;
}
.slide-descr-tag p {
  font-weight: 400;
  font-size: 9.69px;
  line-height: 12.93px;
  text-align: center;
  color: var(--text-color);
}
.slide-descr-or {
  margin-top: 5px;
  gap: 10px;
}
.slide-descr-or span {
  height: 0.5px;
  width: 50%;
  background: var(--border);
  display: block;
}
.slide-descr-or p {
  font-weight: 400;
  font-size: 8.08px;
  line-height: 11.31px;
  text-align: center;
  color: var(--text-color4);
}

.slide-descr-inputs button {
  height: 30px;
  font-size: 9.69px;
  line-height: 12.93px;
  margin-top: 5px;
  width: 100%;
}
.slide-descr-inputs button i {
  font-size: 7px;
}
.slide-descr-inputs {
  margin-top: 5px;
}
.slide-descr-inputs p {
  font-weight: 400;
  font-size: 8.08px;
  line-height: 11.31px;
  color: var(--text-color3);
}
.slide-descr-inputs label input {
  padding: 10px;
  border: 1px solid var(--border);
  width: 100%;
  border-radius: 8px;
  font-weight: 400;
  font-size: 9.69px;
  line-height: 12.93px;
  color: var(--border);
  background: var(--main-container2);
  margin-top: 5px;
  color: var(--text-color);
}
.possibilities-btn {
  margin-top: 92px;
  width: 100%;
  justify-content: center;
}
.possibilities-another-item .block-title {
  color: var(--accent-color);
}
.possibilities-another-item .block-text {
  color: var(--text-color);
}
.possibilities-black-item .block-title {
  color: var(--text-color2);
}
.possibilities-black-item .block-text {
  color: var(--text-color2);
}
.how-work-swiper {
  padding: 20px 0 0 !important;
}
.work-slide {
  position: relative;
  z-index: 2;
  min-height: 564px;
  border-radius: 16px;
  border: 1px solid var(--border);
  align-items: center;
  background: var(--main-container2);
  overflow: hidden;
}
.work-slide-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.work-input {
  width: 100%;
  max-width: 257px;
  position: absolute;
  bottom: 20px;
  left: 24px;
  z-index: 2;
}
.work-input label {
  position: relative;
  width: 100%;
  height: 41px;
}
.work-input label input {
  border: 1px solid var(--border);
  height: 34px !important;
  border-radius: 87px;
  width: 100%;
  padding: 13px 34px 13px 34px;
  height: 100%;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: var(--text-color3);
  background: var(--main-container2);
}
.work-input label .icon-plus {
  position: absolute;
  left: 16px;
  top: 14px;
  font-size: 6px;
  background: var(--text-color);
}
.work-input label a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--bg-color);
  width: 11px;
  height: 11px;
  position: absolute;
  top: 13px;
  right: 12px;
}
.work-input label a i {
  background: var(--text-color);
  font-size: 5px;
  margin-left: 3px;
}



.work-slide-reverse {
  position: relative;
  z-index: 2;
  min-height: 564px;
  border-radius: 16px;
  border: 1px solid var(--border);
  align-items: center;
  background: var(--main-container2);
  overflow: hidden;
  margin-top: 60px;
}
.work-slide-reverse .work-slide-bg {
  bottom: unset;
  top: 0;
}
.work-slide-info {
  padding: 42px 20px;
}
.work-slide .block-text {
  text-align: center;
}
.work-slide-picture {
  margin-top: auto;
  max-width: 307px;
  width: 100%;
}
.work-slide-reverse-picture {
  max-width: 307px;
  width: 100%;
  margin-top: -20px;
}
.work-slide-tags {
  position: relative;
  z-index: 2;
}
.work-tags-title {
  position: absolute;
  top: 57px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 15.57px;
  line-height: 18.69px;
  color: var(--text-color);
  white-space: nowrap;
}
.work-tags-items {
  position: absolute;
  top: 130px;
  left: 20px;
  gap: 20px;
  z-index: 3;
  min-height: 435px;
  width: 100%;
}
.work-tags-items p {
  padding: 8px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color3);
  background: var(--main-container);
  box-shadow: 23px 33px 40px 0px #00000017;
  border-radius: 6px;
  max-width: 346px;
  width: 100%;
}
.work-tags-items p:nth-child(1) {
  position: absolute;
  left: 100px;
}
.work-tags-items p:nth-child(2) {
  position: absolute;
  left: 0;
  top: 68px;
}
.work-tags-items p:nth-child(3) {
  position: absolute;
  top: 136px;
  left: 100px;
}
.work-slide-reverse-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.work-slide-reverse-info {
  padding: 42px 20px 25px 20px;
  margin-top: auto;
}
.work-slide-reverse-info .block-text {
  text-align: center;
}
.work-slide-reverse-info .block-title {
  text-align: center;
}
.work-slide-media {
  position: absolute;
  bottom: 0;
}
.work-slide-clues {
  padding: 10px;
  position: absolute;
  top: 58px;
  left: 28px;
  width: 100%;
  max-width: 252px;
}
.work-clues-header {
  justify-content: space-between;
}
.work-clues-header i {
  font-size: 14px;
  background: var(--text-color);
}
.work-clues-letter {
  margin-left: auto;
  margin-top: 5px;
  max-width: 182px;
  width: 100%;
}
.clues-letter-text {
  padding: 10px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 9.14px;
  line-height: 12.19px;
  background: var(--main-container2);
  color: var(--text-color);
}
.work-letter-icons {
  margin-top: 5px;
  gap: 8px;
  margin-left: auto;
  align-items: flex-end;
  justify-content: flex-end;
}
.work-letter-icons i {
  font-size: 8px;
  background: var(--border3);
  cursor: pointer;
}
.work-clues-info {
  margin-top: 10px;
  gap: 10px;
  padding: 5px;
}
.work-clues-info p {
  font-weight: 400;
  font-size: 9.14px;
  line-height: 12.19px;
  color: var(--text-color);
}
.work-clues-list {
  margin-top: 10px;
  gap: 10px;
  padding: 5px;
}
.work-clues-list p {
  font-weight: 700;
  font-size: 9.14px;
  line-height: 12.19px;
  color: var(--text-color);
}
.work-clues-list li {
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
  color: var(--text-color);
  margin-left: 14px;
  position: relative;
}
.work-clues-list li::after {
  content: "";
  width: 2px;
  height: 2px;
  background: var(--text-color);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: -8px;
}
.how-work-btn {
  max-width: 322px;
  width: 100%;
  margin: 32px auto 0;
}
.suitable-body {
  position: relative;
}
.suitable-media {
  margin: 50px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suitable-media-img {
  max-width: 380px;
  width: 100%;
}
.suitable-tag-item {
  gap: 10px;
  padding: 10px 20px;
  background: var(--main-container2);
  border-radius: 100px;
  position: absolute;
}
.suitable-tag-item img {
  max-width: 20px;
  width: 100%;
}
.suitable-tag-item p {
  font-weight: 400;
  font-size: 18.17px;
  line-height: 24.23px;
  color: var(--text-color);
}
.suitable-tag--one {
  left: 313px;
  top: 45px;
}
.suitable-tag--two {
  right: 288px;
  top: 89px;
}
.suitable-tag--tree {
  left: 266px;
  top: 125px;
}
.suitable-tag--for {
  right: 250px;
  top: 169px;
}
.suitable-tag--five {
  right: 137px;
  top: 248px;
}
.suitable-tag--five p {
  color: var(--accent-color);
}
.suitable-big-tag {
  position: absolute;
  max-width: 293px;
  width: 100%;
  left: 217px;
  top: 280px;
}
.big-tag-text {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color3);
}
.big-tag-text strong {
  font-weight: 500;
  color: var(--text-color);
}
.big-tag-header {
  gap: 10px;
}
.big-tag-header img {
  max-width: 50px;
  width: 100%;
}
.big-tag-header p {
  font-weight: 600;
  font-size: 44px;
  line-height: 48px;
  color: var(--accent-color);
}

.faq-cnt {
  gap: 20px;
}
.faq-items-column {
  max-width: 590px;
  width: 100%;
  gap: 10px;
}
.faq-item-wrapper {
  width: 100%;
  gap: 12px;
}
.faq-item-wrapper:hover .faq-item-icon {
  background: var(--accent-color);
}
.faq-item-wrapper:hover .faq-item-icon::after {
  background: var(--text-color2);
}
.faq-item-wrapper:hover .faq-item-icon::before {
  background: var(--text-color2);
}
.faq-item {
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 24px;
  background: var(--main-container);
  cursor: pointer;
}
.faq-item-header h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color);
}
.faq-item-icon {
  flex: 0 0 72px;
  height: 72px;
  position: relative;
  transition: 0.3s;
  background: var(--main-container);
  border-radius: 8px;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.faq-item-icon.active {
  background: var(--accent-color);
}
.faq-item-icon::after {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 18px;
  background: var(--accent-color);
  transition: 0.3s;
}
.faq-item-icon::before {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 18px;
  background: var(--accent-color);
  transform: rotate(90deg);
  transition: 0.3s;
}
.faq-item-icon.active::after {
  transform: rotate(-135deg);
  transition: 0.3s;
  background: var(--text-color2);
}
.faq-item-icon.active::before {
  transform: rotate(135deg);
  transition: 0.3s;
  background: var(--text-color2);
}
.faq-item.active .faq-item-sub {
  margin-top: 12px;
  opacity: 1;
  visibility: visible;
  max-height: 1000px;
}
.faq-item-sub {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color3);
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.reviews-section {
  position: relative;
  z-index: 2;
  max-width: 1440px;
  width: 100%;
  margin: 120px auto 0;
}
.reviews-left-blur {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.reviews-right-blur {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.reviews-slide {
  padding: 20px;
  background: var(--main-container);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-height: 256px;
}
.reviews-slide-header {
  gap: 16px;
}
.reviews-author-img {
  max-width: 72px;
  height: 72px;
  width: 100%;
}
.reviews-author-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.reviews-author-info {
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.reviews-author-name h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: var(--text-color);
}
.reviews-author-name p {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color3);
}
.reviews-grade {
  background: var(--accent-color);
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color2);
}
.reviews-author-text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color);
}
.reviews-data {
  margin-top: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color4);
}
.swiper.marquee {
  overflow: hidden;
  width: 100%;
}
.swiper.marquee .swiper-wrapper {
  display: flex;
  width: max-content;
  will-change: transform;
  animation-name: marquee-scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.swiper.marquee:hover .swiper-wrapper {
  animation-play-state: paused;
}



@keyframes marquee-scroll {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(-1 * var(--shift, 1000px)), 0, 0);
  }
}
.reviews-sliders-columns {
  gap: 20px;
}
.trust-section {
  max-width: 1466px;
  width: 100%;
  margin: 120px auto 0;
  padding: 0 14px;
}
.trust-cnt {
  position: relative;
  gap: 50px;
  z-index: 2;
  justify-content: space-between;
}
.trust-left-blur {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.trust-right-blur {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.trust-item {
  max-width: 438px;
  width: 100%;
}
.trust-info-item {
  max-width: 438px;
  width: 100%;
  padding: 35px;
  background: var(--main-container2);
  border-radius: 30px;
}
.trust-info .block-text {
  text-align: center;
  color: var(--text-color);
}
.trust-info .block-title {
  text-align: center;
  color: var(--accent-color);
}
.trust-info-media {
  max-width: 367px;
  width: 100%;
  margin: 25px auto 0;
}
.trust-btn {
  margin: 24px auto 0;
  width: 100%;
}
.footer {
  padding: 60px 0 60px 0;
  background: #090911;
  border-radius: 20px;
  max-width: 1440px;
  margin: 120px auto 20px auto;
  width: 100%;
  position: relative;
  z-index: 3;
}
.footer-body {
  justify-content: space-between;
  gap: 20px;
}
.footer-logo {
  margin-bottom: 108px;
}
.footer-column {
  max-width: 488px;
  width: 100%;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  max-width: 420px;
  width: 100%;
  opacity: 0.7;
}
.footer-text a {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-style: solid;
  text-decoration-thickness: 0.5;
  text-underline-offset: 3px;
  transition: 0.3s;
}
.footer-text a:hover {
  opacity: 0.7;
  text-decoration: underline;
}
.footer-text-mobile {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  max-width: 420px;
  width: 100%;
  opacity: 0.7;
  display: none;
}
.footer-text-mobile a {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-style: solid;
  text-decoration-thickness: 0.5;
  text-underline-offset: 3px;
  transition: 0.3s;
}
.footer-bottom {
  margin-top: 60px;
}
.footer-clue {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.5;
}
.footer-nav-column {
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 488px;
  width: 100%;
}
.footer-links {
  gap: 7px;
  margin-left: auto;
}
.footer-links a {
  max-width: 40px;
  width: 100%;
  transition: 0.3s;
}
.footer-links a:hover {
  transform: scale(1.1);
}
.footer-nav ul {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.footer-nav h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.4;
  margin-bottom: 22px;
}
.footer-nav ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-underline-offset: 3px;
  color: #ffffff;
  transition: 0.3s;
  opacity: 0.8;
}
.footer-nav ul li a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

@media (max-width: 1500px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .header-menu ul {
    gap: 40px;
  }
  .trust-cnt {
    gap: 20px;
  }

  .p-item-tag--two {
    left: unset;
    right: 20px;
  }
  .p-item-tag--tree {
    left: unset;
    right: 20px;
  }
  .suitable-big-tag {
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
  }
  .reviews-section {
    margin-top: 240px;
  }
  .big-tag-header {
    justify-content: center;
  }
  .big-tag-text {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .footer-body {
    flex-direction: column;
  }
  .hero-media-tags {
    display: none;
  }
  .hero-media-cnt {
    max-width: 100%;
  }
  .work-slide-reverse {
    margin-top: 0;
  }
  .header-menu ul {
    display: none;
  }

  .possibilities-small-item {
    max-width: 100%;
  }
  .possibilities-big-item {
    padding: 30px;
  }
  .possibilities-another-item {
    padding: 30px;
  }

  .faq-cnt {
    flex-direction: column;
  }
  .faq-items-column {
    max-width: 100%;
  }
  .faq-item {
    width: 100%;
  }
  .reviews-left-blur {
    left: -180px;
  }
  .reviews-right-blur {
    right: -180px;
  }
  .trust-left-blur {
    left: -180px;
  }

  .trust-right-blur {
    right: -180px;
  }
  .work-slide-bg {
    left: unset;
  }
  .suitable-media {
    margin-top: 50px;
  }
  .trust-item {
    display: none;
  }

  .trust-cnt {
    justify-content: center;
  }
  .trust-section {
    margin: 96px auto 0;
    padding: 00;
  }

  .p-item-tag--one {
    display: none;
  }
  .p-item-tag--tree {
    left: 15px;
    top: unset;
    bottom: 32px;
  }
  .p-item-tag--two {
    top: unset;
    bottom: 97px;
  }
  .suitable-tag--one {
    left: 37px;
  }
  .suitable-tag--tree {
    left: 14px;
  }
  .suitable-tag--two {
    right: 36px;
  }
  .suitable-tag--for {
    right: 14px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 0;
    padding: 40px 0 28px 0;
  }
  .footer-clue {
    margin-top: 0;
  }
  .footer-body {
    gap: 28px;
  }
  .section-clue {
    font-size: 16px;
    line-height: 20px;
  }

  .hero-left-column {
    display: none;
  }
}

@media (max-width: 576px) {
  .footer-nav-column {
    flex-direction: column;
  }
  .mobile-text-wrap {
    display: block;
  }
  .section-shape h2 {
    font-size: 22px;
    line-height: 26px;
  }
  .hero-section {
    min-height: 846px;
    background: unset;
    box-shadow: unset;
    border-radius: unset;
  }
  .hero-media {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .possibilities-section {
    margin-top: 100px;
  }
  .hero-section .container {
    padding: 0;
    min-height: 617px;
    background: var(--hero-bg);
    box-shadow: 92px 46px 103px 0px #00000017;
    border-radius: 0 0 20px 20px;
  }
  .hero-mobile-slider {
    min-height: 455px;
    flex-direction: column;
    position: relative;
    z-index: 3;
    margin-top: -200px;
    padding: 0 14px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .hero-mobile-input {
    position: absolute;
    bottom: 13px;
    left: 12px;
    max-width: 288px;
    width: 100%;
  }
  .hero-mobile-input label {
    position: relative;
    width: 100%;
    height: 41px;
  }
  .hero-mobile-input label input {
    border: 1px solid var(--border);
    height: 41px;
    border-radius: 87px;
    width: 100%;
    padding: 13px 34px 13px 34px;
    height: 100%;
    font-weight: 400;
    font-size: 10.45px;
    line-height: 12.19px;
    color: var(--text-color3);
    background: var(--main-container2);
  }
  .hero-mobile-input label .icon-plus {
    position: absolute;
    left: 16px;
    top: 16.5px;
    font-size: 8px;
    background: var(--text-color);
  }
  .hero-mobile-input label a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--bg-color);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 13px;
    right: 12px;
  }
  .hero-mobile-input label a i {
    background: var(--text-color);
    font-size: 6px;
    margin-left: 3px;
  }

  .hero-mobile-cart {
    position: absolute;
    top: 30px;
    left: 30px;
    max-width: 312px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 312px;
  }
  .hero-dark-blur {
    left: 0;
    top: 250px;
    z-index: 0;
    width: 100%;
  }
  .hero-dark-blur img {
    width: 100%;
  }

  .hero-media-picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .hero-body {
    padding: 126px 14px 0 14px;
  }
  .hero-titles h1 {
    font-size: 24px;
    line-height: 28px;
  }
  .hero-titles p {
    font-size: 16px;
    line-height: 20px;
  }
  .possibilities-btn {
    margin-top: auto;
  }
  .possibilities-black-item {
    max-width: 100%;
  }
  .possibilities-another-item {
    max-width: 100%;
  }

  .footer {
    border-radius: 30px 30px 0 0;
    margin-top: -60px;
  }

  .header-body {
    padding: 12px;
    border-radius: 8px;
  }
  header {
    padding: 14px 0;
  }

  .header-logo {
    margin-left: 4px;
    max-width: 75px;
  }
  header.moved .header-body {
    padding: 12px;
  }

  .btn-register {
    padding: 8px 15px;
    line-height: 20px;
  }
  .header-body {
    gap: 10px;
  }
  .desktop-text-wrap {
    display: inline;
  }
  .desktop-block {
    display: none;
  }
  .mobile-block {
    display: flex !important;
  }

  .img-mobile {
    display: block;
  }
  .img-desktop {
    display: none;
  }

  .btn-primary {
    padding: 14px 37px;
  }

  .block-cnt {
    margin-top: 28px;
  }
  .block-title {
    font-size: 18px;
    line-height: 22px;
  }

  .faq-item-sub {
    font-size: 16px;
    line-height: 20px;
  }
  .faq-item.active .faq-item-sub {
    margin-top: 10px;
  }

  .section {
    margin-top: 100px;
  }

  .section-titles p {
    font-size: 16px;
    line-height: 20px;
  }

  .block-text {
    font-size: 16px;
    line-height: 20px;
  }
  .possibilities-item-bg img {
    border-radius: 20px;
  }
  .possibilities-item {
    border-radius: 20px;
  }
  .possibilities-items {
    gap: 8px;
  }

  .faq-item {
    padding: 16px;
  }
  .faq-item-header h4 {
    font-size: 16px;
    line-height: 20px;
  }
  .faq-item-icon {
    flex: 0 0 40px;
    height: 40px;
    position: relative;
    transition: 0.3s;
    background: var(--main-container);
    border-radius: 4px;
  }
  .faq-item-icon::before {
    height: 13px;
    width: 1.5px;
  }
  .faq-item-icon::after {
    height: 13px;
    width: 1.5px;
  }
  .faq-cnt {
    gap: 10px;
  }
  .block-title-wrapper img {
    max-width: 20px;
  }
  .reviews-left-blur {
    left: 0;
    max-width: unset;
    height: unset;
    top: 152px;
  }
  .reviews-right-blur {
    right: 0;
    max-width: unset;
    height: unset;
    top: 152px;
  }

  .reviews-sliders-columns {
    gap: 10px;
  }
  .reviews-author-text {
    margin-top: 12px;
    font-size: 16px;
    line-height: 20px;
  }
  .reviews-data {
    font-size: 14px;
    line-height: 18px;
  }
  .reviews-author-img {
    max-width: 52px;
    height: 52px;
  }
  .reviews-grade {
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 18px;
  }
  .reviews-author-name h4 {
    font-size: 18px;
    line-height: 22px;
  }
  .reviews-author-name p {
    margin-top: 4px;
    font-size: 14px;
    line-height: 18px;
  }
  .reviews-author-img img {
    border-radius: 6px;
  }
  .reviews-slide {
    border-radius: 10px;
    min-height: 234px;
  }
  .reviews-body .section-clue {
    font-size: 14px;
    line-height: 18px;
  }

  .footer-logo {
    margin-bottom: 40px;
  }
  .footer-body {
    gap: 0;
  }
  .footer-nav-column {
    gap: 50px;
  }
  .footer-text-mobile {
    display: block;
  }
  .footer-bottom {
    margin-top: 50px;
    flex-direction: column;
    gap: 28px;
  }
  .footer-links {
    margin-left: unset;
  }
  .footer-bottom {
    align-items: stretch;
  }
  .footer-clue {
    margin-top: 40px;
  }
  .possibilities-big-item {
    min-height: 391px;
  }
  .possibilities-small-item {
    min-height: 314px;
  }
  .possibilities-another-item {
    min-height: 324px;
  }
  .possibilities-small-item .possibilities-item-bg img {
    object-position: top;
  }
  .possibilities-btn {
    max-width: 260px;
    margin: 100px auto 0;
    padding: 16px 37px;
  }
  .possibilities-black-item {
    min-height: 362px;
    padding: 30px;
  }

  .possibilities-black-item .possibilities-item-bg img {
    object-position: top;
  }
  .work-slide {
    min-height: 546px;
  }
  .work-slide-reverse {
    min-height: 546px;
  }
  .work-slide-info {
    padding: 30px 17px 35px 17px;
  }
  .how-work-btn {
    max-width: 216px;
    margin: 28px auto 0;
    padding: 16px 37px;
  }

  .trust-info-item {
    max-width: 100%;
  }
  .trust-info-media {
    margin: 25px auto 0;
  }
  .trust-left-blur {
    display: none;
  }
  .trust-right-blur {
    display: none;
  }
  .trust-info-item {
    border-radius: 30px 30px 0 0;
  }
  .trust-info .block-text {
    margin-top: 15px;
  }
  .trust-info-item {
    padding: 39px 13px 0 13px;
  }
  .trust-btn {
    max-width: 260px;
    padding: 16px 32px;
    margin: 27px auto 0;
  }
  .how-work-swiper {
    padding: 28px 0 0 !important;
  }
  .trust-info .block-title {
    font-size: 22px;
    line-height: 26px;
  }
  .work-slide-picture {
    max-width: 308px;
  }
  .hero-text-cart {
    display: none;
  }
  .hero-back-fon2 {
    display: none;
  }
  .hero-back-fon1 {
    display: none;
  }

  .p-item-tag--two {
    padding: 7px;
    font-size: 9px;
    border-radius: 3px;
    line-height: 10px;
    max-width: 116px;
  }
  .p-item-tag--tree {
    padding: 9px;
    font-size: 10px;
    line-height: 14px;
    max-width: 223px;
  }

  .suitable-media-img {
    max-width: 186px;
  }
  .suitable-big-tag {
    top: 226px;
  }
  .suitable-tag--one {
    left: 23px;
    top: 16px;
  }
  .suitable-tag-item {
    padding: 6px 13px;
    gap: 6px;
  }
  .suitable-tag-item p {
    font-size: 9px;
    line-height: 11px;
  }
  .suitable-tag-item img {
    max-width: 10px;
  }
  .suitable-tag--tree {
    left: 0;
    top: 50px;
  }
  .suitable-tag--two {
    right: 22px;
    top: 83px;
  }

  .suitable-tag--for {
    right: 0;
    top: 117px;
  }
  .suitable-tag--five {
    top: 164px;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .suitable-tag--five p {
    white-space: nowrap;
  }
}
@media (max-width: 400px) {
}
