@charset "UTF-8";

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}
.icon-arrow {
  mask-image: url(arrow.svg);
  -webkit-mask-image: url(arrow.svg);
}
.icon-star {
  mask-image: url(icon-star.svg);
  -webkit-mask-image: url(icon-star.svg);
}
.icon-plus{
    mask-image: url(iconPlus.svg);
  -webkit-mask-image: url(iconPlus.svg);
}
.icon-arrow-right{
    mask-image: url(arrowRight.svg);
  -webkit-mask-image: url(arrowRight.svg);
}
.icon-eos{
    mask-image: url(eos.svg);
  -webkit-mask-image: url(eos.svg);
}
.icon-search{
    mask-image: url(search.svg);
  -webkit-mask-image: url(search.svg);
}
.icon-tabler{
      mask-image: url(tabler.svg);
  -webkit-mask-image: url(tabler.svg);
}
.icon-tabler2{
        mask-image: url(tabler2.svg);
  -webkit-mask-image: url(tabler2.svg);
}
.icon-burger{
          mask-image: url(burger.svg);
  -webkit-mask-image: url(burger.svg);
}
.icon-cms{
           mask-image: url(cms.svg);
  -webkit-mask-image: url(cms.svg);
}